<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="On" defaultRedirect="ErrorPageInternal.aspx"/>
		<pages clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
		<add key="AppName" value="ASP.NET Common Web Page Classes Demo"/>
		<add key="MenuAppName" value="EWSoftware.Web"/>
		<add key="Version" value="3.0.0.0"/>
		<add key="ReleaseDate" value="09/30/2010"/>
		<!-- Add this key to specify the SMTP server name if necessary.
         Normally, you don't but you might if testing on localhost or
         the IIS host doesn't support SMTP. -->
		<add key="EMailPage_SmtpServer" value="Your_SMTP_Server"/>
		<!-- These are used by the custom error page -->
		<add key="MaxErrorReports" value="5"/>
		<add key="ErrorRptEMail" value="You@YourDomain.org"/>
		<add key="ErrorRptFrom" value="AppName@YourDomain.org"/>
	</appSettings>
</configuration>
