<?xml version="1.0"?>
<configuration>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="vb" debug="true" strict="true" targetFramework="4.0"/>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
           on the local Web server. This setting is recommended for security purposes, so
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="On" defaultRedirect="ErrorPageInternal.aspx"/>
		<!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows",
          "Forms", "Passport" and "None"

          "None" No authentication is performed.
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
           its settings for the application. Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="None"/>
		<pages clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
		<add key="AppName" value="ASP.NET Common Web Page Classes Demo"/>
		<add key="MenuAppName" value="EWSoftware.Web"/>
		<add key="Version" value="3.0.0.0"/>
		<add key="ReleaseDate" value="09/30/2010"/>
		<!-- Add this key to specify the SMTP server name if necessary.
         Normally, you don't but you might if testing on localhost or
         the IIS host doesn't support SMTP. -->
		<add key="EMailPage_SmtpServer" value="Your_SMTP_Server"/>
		<!-- These are used by the custom error page -->
		<add key="MaxErrorReports" value="5"/>
		<add key="ErrorRptEMail" value="You@YourDomain.org"/>
		<add key="ErrorRptFrom" value="AppName@YourDomain.org"/>
	</appSettings>
</configuration>
